In [70]:
import pandas as pd
from create_weather_forecast_features import Utils

In [58]:
df = Utils.load_csv_data("./data/windfarm_data.csv")

In [62]:
df.head()

,year_month_day,temperature_00,wind_direction_00,wind_speed_00,temperature_08,wind_direction_08,wind_speed_08,temperature_16,wind_direction_16,wind_speed_16,power,datetime,created
0,2014-01-01,4.702022,106.742590,4.743292,7.189482,100.41638,6.593832,8.172301,99.28800,5.967206,1959.3535,2014-01-01,2021-05-24 10:39:37.687202
1,2014-01-02,7.695733,98.036705,6.142715,9.977118,94.03181,4.383676,9.690135,204.25444,1.696528,1266.6239,2014-01-02,2021-05-24 10:39:37.687202
2,2014-01-03,9.608235,274.061200,10.514304,10.840864,242.87563,16.869741,8.991079,250.26830,12.038399,7545.6797,2014-01-03,2021-05-24 10:39:37.687202
3,2014-01-04,6.955563,257.910220,7.189170,5.317223,254.26170,9.069233,3.021174,284.06537,4.590843,3791.0408,2014-01-04,2021-05-24 10:39:37.687202
4,2014-01-05,0.830547,265.394400,4.263086,2.480239,104.79496,3.042063,4.227131,263.41690,3.899182,880.6115,2014-01-05,2021-05-24 10:39:37.687202

#### Add `datetime` and `created` columns for the Feast feature store format

In [87]:
df['datetime'] = pd.to_datetime(df['year_month_day']).apply(lambda d: d.replace(tzinfo=None))
for _, row in df.iterrows(): 
    df['created'] = datetime.now()
df.head()

,year_month_day,temperature_00,wind_direction_00,wind_speed_00,temperature_08,wind_direction_08,wind_speed_08,temperature_16,wind_direction_16,wind_speed_16,power,datetime,created
0,2014-01-01,4.702022,106.742590,4.743292,7.189482,100.41638,6.593832,8.172301,99.28800,5.967206,1959.3535,2014-01-01,2021-05-24 13:57:07.045579
1,2014-01-02,7.695733,98.036705,6.142715,9.977118,94.03181,4.383676,9.690135,204.25444,1.696528,1266.6239,2014-01-02,2021-05-24 13:57:07.045579
2,2014-01-03,9.608235,274.061200,10.514304,10.840864,242.87563,16.869741,8.991079,250.26830,12.038399,7545.6797,2014-01-03,2021-05-24 13:57:07.045579
3,2014-01-04,6.955563,257.910220,7.189170,5.317223,254.26170,9.069233,3.021174,284.06537,4.590843,3791.0408,2014-01-04,2021-05-24 13:57:07.045579
4,2014-01-05,0.830547,265.394400,4.263086,2.480239,104.79496,3.042063,4.227131,263.41690,3.899182,880.6115,2014-01-05,2021-05-24 13:57:07.045579